name: RAG system

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build and Run the Docker image
      run: | 
        apt-get update
        apt-get install docker-compose-plugin
        docker build -t rag_system .
        docker-compose up
